/*Common shared styles*/
body{
    font-family: 'Lato', sans-serif;
}

/*header section styles*/
.section-header{
    display: flex;
    width: auto;
    background: rgba(229, 84, 115, 0.10);
    padding: 50px 240px 0px 240px; 
    justify-content: space-between;
}
.section-title{
    width: 708px;
    height: 288px;
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.section-description{
    width: 634px;
    height: 90px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn-shop{
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-style: none;
}
.tulip-flower{
    width: 635px;
    height: 800px;
}
.featured-flower{
   /*  width: 1920px;
    height: 4867px; */
    max-width: 1920px;
    max-height: 850px;
    background: #FFF;
    padding: 130px;
}
.section-title-1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.section-description-1{
    display: flex;
    width: 594px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-left: 663px;
}
.flower-tree{
    display: flex;
    justify-content: space-between;
    margin: 10%;
}
.flower-support{
    display: flex;
    justify-content: space-between;
}

.instagram{
    width: fit-content;
}
/* footer section */
footer{
    width: auto;
    padding: 128px 648px;
    background-color: #272727;
    color: #FFF;
    text-align: center;
}
.footer-design{
    margin: 0%;
}